/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #2a243f !important;
  --toolbarbutton-icon-fill: #c7b3f3 !important;
  --toolbar-field-color: #e6e1f7 !important;
  --tab-selected-textcolor: #c7b3f3 !important;
  --toolbar-color: #e6e1f7 !important;
  --arrowpanel-color: #e6e1f7 !important;
  --arrowpanel-background: #020007 !important;
  --sidebar-text-color: #e6e1f7 !important;
  --zen-main-browser-background: #090415 !important;
  --zen-main-browser-background-toolbar: #090415 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #090415 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #090415 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #020007 !important;
}

#zen-workspaces-button {
  background-color: #020007 !important;
}

#TabsToolbar {
  background-color: #090415 !important;
}

.urlbar-background {
  background-color: #020007 !important;
}

.urlbar-input::selection {
  color: #020007 !important;
  background-color: #c7b3f3 !important;
}

.urlbarView-url {
  color: #c7b3f3 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #c7b3f3
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #d7c5ff !important;
  --identity-icon-color: #d7c5ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #c7b3f3 !important;
  --identity-icon-color: #c7b3f3 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb8 !important;
  --identity-icon-color: #a5ffb8 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe7a5 !important;
  --identity-icon-color: #ffe7a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffda72 !important;
  --identity-icon-color: #ffda72 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb2 !important;
  --identity-icon-color: #ff9fb2 !important;
}

.identity-color-pink {
  --identity-tab-color: #decfff !important;
  --identity-icon-color: #decfff !important;
}

.identity-color-purple {
  --identity-tab-color: #4b3a70 !important;
  --identity-icon-color: #4b3a70 !important;
}

#zen-appcontent-navbar-container {
  background-color: #090415 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #c7b3f3 !important;
  color: #c7b3f3 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #c7b3f3 !important;
  color: #c7b3f3 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #c7b3f3 !important;
}
